extends ../../layouts/base.pug

block css
  link(href='/payment/css/v2.css' rel='stylesheet')
block body
  #transactionId(style="display: none") #{payment.id}
  .default-page
    .payment-card
      .p-row
        .page-title Payment System
        div
          .step
            .step-count.active
              .step-number 01
              .step-desc Choose a method
            .step-count.step-2
              .step-number 02
              .step-desc Transfer Funds
            .step-count
              .step-number 03
              .step-desc Confirm
          .trans-id
            span Transaction ID:
            span.tr-id.total-pay #{payment.order_num}
      .1st-page
        .p-row
          div
            .total-pay Total Payment
            .pay-rs #{payment.symbols[payment.currency] || payment.currency} #{payment.amount}
        .options-row
          each option,index in paymentOptions
            if option.options.selected
              +payment-option-cards(payment,option,index,selected=true)
            else
              +payment-option-cards(payment,option,index)
        .center-align
          button.pay-button.move-next-btn(disabled=true, style="cursor: not-allowed; background-color: #e0e0e0;")
            | MOVE NEXT 
            span.arrow &raquo;
      each option,index in paymentOptions
        if option.options.selected
          +payment-option-detail-cards(payment,option,index,selected=true)
        else
          +payment-option-detail-cards(payment,option,index)
    .return-to-home
      a(href='#' id="popupLink", style="display: none")
        span Cancel
      #popup
        form(id="rejectTransaction" method="POST" action="/payment/execute/reject")
          .d-flx(style="justify-content: space-between")
            .instruction-title.total-pay
              div Please provide your feedback
            div
              span Transaction ID:
              span.tr-id.total-pay #{payment.order_num}
          input#transferIdInput(name="transfer_id" style="display:none")
          textarea#note(required=true name="note" rows='6', cols='50', type='text', placeholder='Enter reason for cancel')
          .popup-buttons
            button.pay-button(type='submit' id='cancel-tx-btn') Cancel Transaction
            button#skipButton.pay-button.out-line(type='button') Skip
      #overlay