extends ../../layouts/base.pug

block css
  link(href='/payment/css/v2.css' rel='stylesheet')
block body
  body
    .default-page
      .payment-card
        .p-row
          .page-title Payment System
          div
            .step
              .step-count.active
                .step-number.danger 01
                .step-desc Choose a method
              .step-count.active
                .step-number.danger 02
                .step-desc Transfer Funds
              .step-count.active
                .step-number.danger 03
                .step-desc confirm
            .trans-id
              span Transaction ID
              span.tr-id #{payment.order_num ? payment.order_num : payment.order_id}
        .p-row-pay
          .col-50
            .d-flx
              .pay-life
                .total-pay Total Payment
                .pay-rs #{payment.symbols[payment.currency] || payment.currency} #{payment.amount}
            .card-status-design
              .failure-checkmark
                .check-icon-1
                  span.icon-line.line-tip-1
                  span.icon-line.line-long-1
                  .icon-circle-1
                  .icon-fix-1
          .col-50
            if error
              .info(style="margin-top: 2rem;")
                h1=error.title
                p=error.message
            else
              .info(style="margin-top: 2rem;")
                | Payment transaction failed.
        if payment && payment.return_url
          .center-align
              a(href=`${payment.return_url}` style='text-decoration: none; color: white')
                button.pay-button
                    | RETURN TO THE WEBSITE