extends ../../layouts/base.pug

block css
  link(href='/payment/css/v2.css' rel='stylesheet')
block body
  body
    .default-page
      .payment-card
        .p-row
          .page-title Payment System
          div
            .step
              .step-count.active
                .step-number 01
                .step-desc Choose a method
              .step-count.active
                .step-number 02
                .step-desc Transfer Funds
              .step-count.active
                .step-number 03
                .step-desc confirm
            .trans-id
              span Transaction ID
              span.tr-id #{payment.order_num}
        .p-row-pay
          .col-50
            .d-flx
              .pay-life
                .total-pay Total Payment
                .pay-rs #{payment.symbols[payment.currency] || payment.currency} #{payment.amount}
            .card-status-design
              .success-checkmark
                .check-icon
                  span.icon-line.line-tip
                  span.icon-line.line-long
                  .icon-circle
                  .icon-fix
          .col-50
            .info(style="margin-top: 2rem;")
              | Your BRN has been recorded and your deposit will be synced soon.
        .center-align
            a(href=`${payment.return_url}` style='text-decoration: none; color: white')
              button.pay-button
                  | RETURN TO THE WEBSITE