mixin payment-details(payment)
  .transaction-title Transaction Details
  .payment-table
    .t-r-1
      .t-row
        .t-cell-1 Merchant
        .t-cell #{payment.merchant_name} / #{payment.merchant_acc_name}
      .t-row
        .t-cell-1 Transaction ID
        .t-cell#transactionId #{payment.id}
    .t-r-1
      .t-row
        .t-cell-1 Order ID
        .t-cell #{payment.order_num}
      .t-row
        .t-cell-1 Description
        .t-cell #{payment.description}