include ../mixins/common
include ../mixins/payment-protocols/options
include ../mixins/payment-protocols/v2Options

doctype html
//if lt IE 7
//if IE 7
//if IE 8
// [if gt IE 8] <!
//
  <![endif]
block head
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    style(type='text/css').
      @charset "UTF-8";
      [ng\:cloak],
      [ng-cloak],
      [data-ng-cloak],
      [x-ng-cloak],
      .ng-cloak,
      .x-ng-cloak,
      .ng-hide:not(.ng-hide-animate) {
      display: none !important;
      }
      ng\:form {
      display: block;
      }
      .ng-animate-shim {
      visibility: hidden;
      }
      .ng-anchor {
      position: absolute;
      }
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0,user-scalable=no')
    meta(name='keywords' content='')
    meta(http-equiv='Cache-Control' content='no cache, no-store, must-revalidate')
    meta(http-equiv='Pragma' content='no cache')
    meta(http-equiv='Expires' content='0')
    block title
      title Pay with Rashipay
    link(rel='shortcut icon' href='#GATEWAY_FAVICON#' type='image/x-icon')
    block css
      link(rel='preconnect' href='https://fonts.googleapis.com')
      link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
      link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap' rel='stylesheet')
    block script  
      script(type='text/javascript' src='/payment/js/jquery.min.js')
      script(type='text/javascript' src='/payment/js/qrcode.min.js')
      script(type='text/javascript' src='/payment/js/pdfmake.min.js')
      script(type='text/javascript' src='/payment/js/html2canvas.min.js')
      script(type='text/javascript' src='/payment/js/custom.js')
      script(src='/socket.io/socket.io.js')
      script. 
        const socket = io();
block body
  
