extends layouts/base.pug

block css
  link(href='/payment/css/v2.css' rel='stylesheet')
block body
  #transactionId(style="display: none") #{payment.id}
  .default-page
    .payment-card
      .p-row
        .page-title Payment System
        div
          .step
            .step-count.active
              .step-number 01
              .step-desc Personal details
            .step-count
              .step-number 02
              .step-desc Choose a method
            .step-count.step-2
              .step-number 03
              .step-desc Transfer Funds
            .step-count
              .step-number 04
              .step-desc Confirm
          .trans-id
            span Transaction ID:
            span.tr-id.total-pay #{payment.order_num}
      .1st-page
        .p-row
          div
            .total-pay Total Payment
            .pay-rs #{payment.symbols[payment.currency] || payment.currency} #{payment.amount}
        .payer-details
          form(method="POST",action="/payment/execute/payer_details")
            input.payer_details_input(name="name", placeholder="Name")
            input.payer_details_input(name="phone",placeholder="Phone")
            input.payer_details_input(name="email", placeholder="Email")
            input.payer_details_input(name="vpa", placeholder="VPA")
            input.payer_details_input(name="transfer_id", type="hidden" value=payment.id)
            .center-align
              button.pay-button(type="submit")
                | Submit
              button.skip_payer_details(type="submit") Skip