html
  body(onLoad="document.forms.redirectForm.submit()")
    div Please wait ...
    form(name="redirectForm" method='POST' action="/payment/execute")
      input(type="hidden" name="transfer_id",value=params.txId)
