extends layouts/base.pug

block body
  body
      .outer-card.new-page-start
        .card-right
            +payment-details(payment)
            .tab-main-box
              .payment-status
                img(src='/payment/img/success-status.png')
                h3 Payment Successful!
                p You can safely close this page