extends layouts/base.pug

block body
  body
      .outer-card.new-page-start
        .card-right
            +payment-details(payment)
            .tab-main-box
              .payment-status
                img(src='/payment/img/waiting.png')
                h3 Transaction Pending...
                h3#demo 9:59
                p Please complete payment from your UPI application
                button.btn.paymentBtn BACK TO MERCHANT
                form(id="rejectTransaction" method="POST",action="/payment/execute/reject")
                  input#transferIdInput(name="transfer_id" style="display:none")
                script.
                  socket.emit("upi-waiting", $("#transactionId")[0].innerText)
                  socket.on("transaction-successful",(transfer_id)=>{
                    if(transfer_id===$("#transactionId")[0].innerText){
                      $('.payment-status').html('<img src="/payment/img/success-status.png"><h3>Payment Successful!</h3><p>You can safely close this page</p>')
                    }
                  })
                  socket.on("transaction-failed",(transfer_id)=>{
                    if(transfer_id===$("#transactionId")[0].innerText){
                      $('.payment-status').html('<img src="/payment/img/fail-status.png"><h3>Payment Failed</h3><p>Payment did not complete successfully</p>')
                    }
                  })
                script. 
                  var countDownDate = new Date().getTime() + 10 * 60 * 1000
                  if (sessionStorage.getItem('timer')) {
                    countDownDate = sessionStorage.getItem('timer')
                  } else {
                    sessionStorage.setItem('timer', countDownDate)
                  }
                  var x = setInterval(function() {
                    var now = new Date().getTime();
                    var distance = countDownDate - now;
                    var hours = Math.floor(
                      (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
                    );
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    $("#demo").html(minutes + ":" + seconds);
                    if (minutes==5 && seconds==0){
                      $('.payment-status #demo').css("color","red")
                    }
                    if (distance < 0) {
                      clearInterval(x);
                      $("form#rejectTransaction").submit()
                    }
                  }, 1000);