extends ../../layouts/base.pug

block css
  link(href='/payment/css/v1.css' rel='stylesheet')
block body
  body
      .outer-card.new-page-start
        .card-right
          .tab-outer
            .tab-menu
              each option,index in paymentOptions
                if option.options.selected
                  +payment-option-headers(payment,option,index,selected=true)
                else
                  +payment-option-headers(payment,option,index)
            +payment-details(payment)
            .tab-main-box
              each option,index in paymentOptions
                if option.options.selected
                  +payment-option-details(payment,option,index, selected=true)
                else
                  +payment-option-details(payment,option,index)
        .return-to-home
          a(href='#' id="popupLink")
            span Cancel
        #popup
          form(id="rejectTransaction" method="POST" action="/payment/execute/reject")
            .instruction-title Please provide your feedback
            input#transferIdInput(name="transfer_id" style="display:none")
            textarea#note(required=true name="note" rows='6', cols='50', type='text', placeholder='Enter reason for cancel')
            .popup-buttons
              button(type='submit' class="btn btn-primary" id='cancel-tx-btn') Cancel Transaction
              button#skipButton(type='button') Skip
        #overlay