extends ../../layouts/base.pug

block css
  link(href='/payment/css/v1.css' rel='stylesheet')
block body
  .status-page
    .transaction-completed Payment transaction failed.
    .transaction-details Dear customer, your transaction details are given below
    if payment
      .transaction-title Transaction Details
      .payment-table
        .t-r-1
          .t-row
            .t-cell-1 Merchant
            .t-cell #{payment.merchant_name}
          .t-row
            .t-cell-1 Transaction ID
            .t-cell #{payment.transfer_id}
        .t-r-1
          .t-row
            .t-cell-1 Order ID
            .t-cell #{payment.order_id}
          .t-row
            .t-cell-1 Description
            .t-cell #{payment.description}
    else
      .card-right(style="text-align:center;")
        h1=error.title
        p=error.message
    .pay-status
      img.payment-done(src='../img/failed-pay.png')
    .payment-status
      if payment && payment.return_url
        .submit-bottom.payment-success(style='display: flex; justify-content: center')
          a(href=`${payment.return_url}` style='text-decoration: none')
            button.btn.paymentBtn.paymentBtnUpdate(type='button') Back to Home
    .payment-status Thank you for making your payment with us.