extends ../../layouts/base.pug

block css
  link(href='/payment/css/v1.css' rel='stylesheet')
block body
  body
      .outer-card.new-page-start
        .card-right
            +payment-details(payment)
            .tab-main-box
              .payment-status
                img(src='/payment/img/success-status.png')
                h3 Payment recorded successfully
                p We will verify your payment and inform merchant
                a(href=`${payment.return_url}` style='text-decoration: none')
                  button.btn.paymentBtn BACK TO MERCHANT