include ./imps
include ./upi
include ./rtgs
include ./neft

mixin payment-option-headers(payment,paymentOption,index,selected=false)
  a.payment-tab(href='#' data-rel=`payment-details-${index}`,class=`tab-${index} ${paymentOption.options.selected ? 'active' : ''}`)
    case paymentOption.type
      when 'IMPS'
        +imps-header(payment,paymentOption,index)
      when 'UPI'
        +upi-header(payment,paymentOption,index)
      when 'RTGS'
        +rtgs-header(payment,paymentOption,index)
      when 'NEFT'
        +neft-header(payment,paymentOption,index)
mixin payment-option-details(payment,paymentOption,index)
  .tab-box(class=`payment-details-${index}` style=(paymentOption.options.selected?'display:block;':'') id=`#tab-${index}`)
    form(method="POST",action="/payment/execute/submit")
      input(name="transfer_id", type="hidden",value=payment.id)
      input(name="payment_type", type="hidden",value=paymentOption.type)
      case paymentOption.type
        when 'IMPS'
          +imps-details(payment,paymentOption,index) 
        when 'UPI'
          +upi-details(payment,paymentOption,index)
        when 'RTGS'
          +rtgs-details(payment,paymentOption,index)
        when 'NEFT'
          +neft-details(payment,paymentOption,index)