mixin rtgs-header(payment,details,index)
  .payment-mode-short #{details.type}
  .payment-mode #{details.label}

mixin rtgs-card-header(payment,details,index)
  .pay-method-card
    .pay-icon
      img.payment-img(src='/payment/img/rtgs.svg')
    .pay-type RTGS

mixin rtgs-details(payment,details,index)
  .desktop-tab
    .instruction-outer
      .instruction-title RTGS Bank Transfer Instructions :
      .instruction-list-outer
        .instruction-list
          .list-doth
          .list-text
            | For any queries,&nbsp;
          a(target="_blank" href='https://rashipay.com/support') please contact support
    .input-style-outer
      .input-style
        #lblAmt.input-label(for='lblamt') Amount
        #lblamtval.input-field(for='lblbankname') #{payment.amount} #{payment.currency}
      .input-style
        #lblBN.input-label(for='lblbankname') Bank Name
        #lblbnval.input-field(for='lblbankname') #{details.options.bank_name.toUpperCase()}
      .input-style
        #lblAN.input-label(for='lblaccountnumber') Account Number
        #lblanval.input-field(for='lblaccountnumber') #{details.options.account_number}
      .input-style
        #lblHN.input-label(for='lblholdername') Account Holder
        #lblahnval.input-field(for='lblholdername') #{details.options.account_holder.toUpperCase()}
      .input-style
        #lblIFSC.input-label(for='lblIFSC') Bank IFSC
        #lblifscval.input-field(for='lblIFSC') #{details.options.code && details.options.code.toUpperCase()}
      //- .input-style
      //-   #lblacctype.input-label(for='saAccType') Account type
      //-   #lblacctypeval.input-field(for='saAccType') #{details.options.account_type.toUpperCase()}
  .brn-innput.in-50-percent
    .brn-label
      .input-label.brn-label-dark UTR
      .brn-red-info
        | (Please submit your UTR to proceed with the order,do not press back until we proceed the order)
    .brn-input-outer
      if invalidValue
        input#brnNumber.input-field.brn-field(name='brn', type='number' placeholder='Enter BRN Ex. 226622710142' oninput='validateField(event, "rtgs")' onchange='validateField(event, "rtgs")' value=`${invalidValue}`)
        .brn-red-info#rtgsTxIdValidationError
          |
      else
        input#brnNumber.input-field.brn-field(name='brn', type='number' placeholder='Enter BRN Ex. 226622710142' oninput='validateField(event, "rtgs")' onchange='validateField(event, "rtgs")')
        .brn-red-info#rtgsTxIdValidationError
          |
      span#BRNError.errorMessage
      .tooltip1
        .info-icon ?
  if validationError && validationError.payment_type === "RTGS"
    .brn-red-info#rtgsTxIdValidationError
      | #{validationError.message}
  .submit-bottom
    button.btn.paymentBtn.paymentBtnUpdate#rtgsSubmitBtn(type='submit', disabled='true', style='cursor: not-allowed;')
      | Verify Payment
  //- .return-to-home
  //-   a(href='#')
  //-     span Return to website

mixin rtgs-card-details(payment,details,index)
  .p-row-pay
    .col-50
      .d-flx
        .pay-life
          .total-pay Total Payment
          .pay-rs #{payment.symbols[payment.currency] || payment.currency} #{payment.amount}
        .pay-life
          .total-pay Bank Name
          .pay-rs #{details.options.bank_name.toUpperCase()}
      .card-design
        img.payment-on-card(src='/payment/img/rtgs.svg')
        div
          .pay-info
            .input-copy
              .title-input Account number
              div.value-input #{details.options.account_number}
              span.copy-icon(onclick=`copyTextToClipboard(${details.options.account_number})`) &#x2398;
        .p-row.two-input
          .pay-info
            .input-copy
              .title-input Account Holder
              div.value-input #{details.options.account_holder.toUpperCase()}
              span.copy-icon(onclick=`copyTextToClipboard('${details.options.account_holder.toUpperCase()}')`) &#x2398;
          .pay-info
            .input-copy
              .title-input Bank IFSC
              div.value-input #{details.options.code && details.options.code.toUpperCase()}
              span.copy-icon(onclick=`copyTextToClipboard('${details.options.code && details.options.code.toUpperCase()}')`) &#x2398;
      a.back(href='#')
        span &lsaquo;
        |  Change payment method
    .col-50
      .rule-title
        | Instructions
      .info
        | Copy the Account Number and all the necessary information
        br
        | then open the payment system application and
        br
        | transfer fund to the specified details in one payment.
        br
        | The details are unique for each deposit.
        br
        | It is necessary to provide UTR Number of transfer.
      .group
        input#brnNumber(name='brn', type='text', required='' oninput='validateField(event, "rtgs")' onchange='validateField(event, "rtgs")')
        .brn-red-info#validationError
          |
        img.error-img(src='/payment/img/info.png')
  .center-align
    button.pay-button.out-line.cancel-btn CANCEL
    button.pay-button#rtgsSubmitBtn(style="cursor: not-allowed;background-color: #e0e0e0;", disabled=true) I PAID