mixin upi-header(payment,details,index)
  .payment-mode-short #{details.type}
  .payment-mode #{details.label}

mixin upi-card-header(payment,details,index)
  .pay-method-card
    .pay-icon
      img.payment-img(src='/payment/img/upi.svg')
    .pay-type UPI

mixin upi-details(payment,details,index)
  .desktop-tab
    .qr-inst
      .instruction-outer.btm-15-only
        .instruction-title UPI Transfer Instructions:
        .instruction-list-outer
          .instruction-list
            .list-doth-num 1
            .list-text Scan QR Code for UPI Payment.
          .instruction-list
            .list-doth-num 2
            .list-text
              | Pay 
              strong #{payment.amount} #{payment.currency}
              |  to payment agent 
              strong #{details.options.account_holder}
              | .
      .instruction-outer
        .instruction-title Please Note:
          .instruction-list
            .list-doth
            .list-text
              | If the transaction fails, your payment will be credited back to your account within an hour, if you don&rsquo;t receive then 
              a(href='#') please contact support
  .radio-row(name='brn-or-vpa')
    if payment.fc_merchant_id
      if invalidValue
        .radio-box
          input#test1(type='radio' name='radio-group' value='qrimg')
          label(for='test1') QR Code Scan
        .radio-box
          input#test2(type='radio' name='radio-group' value='qrinput' checked=``)
          label(for='test2') Send Payment Link
      else
        .radio-box
          input#test1(type='radio' name='radio-group' value='qrimg' checked=``)
          label(for='test1') QR Code Scan
        .radio-box
          input#test2(type='radio' name='radio-group' value='qrinput')
          label(for='test2') Send Payment Link
  .qr-img.bbox.qrimg(data-qr-data=details.options.upi_link)
    .qr-code
  #button-container
    button#upiButton.mobile-only(onclick=`openUpiApp('${details.options.upi_link}')`) Open UPI App
  .input-style.in-50-percent#vpaInputContainer
    .input-label.brn-label-dark Submit UPI ID
    .brn-input-outer
      if invalidValue
        input#vpaInput.input-field(name='vpa' type='text' placeholder='Enter UPI ID Ex.enovate@21234' oninput='validateField(event, "vpa")' onchange='validateField(event, "vpa")' value=`${invalidValue}`)
        .brn-red-info#vpaTxIdValidationError
          |
      else
        input#vpaInput.input-field(name='vpa' type='text' placeholder='Enter UPI ID Ex.enovate@21234' oninput='validateField(event, "vpa")' onchange='validateField(event, "vpa")')
        .brn-red-info#vpaTxIdValidationError
          |
  .brn-innput.in-50-percent#utrNumberContainer
    .brn-label
      .input-label.brn-label-dark UPI Transaction ID
      // <div class="brn-red-info" for="lblUtrWarning" id="lblUtrWarning"></div>
      .brn-red-info
        | (Please submit  your UPI transaction ID to proceed with order,do not press back until we process the order)
    .brn-input-outer
      if invalidValue
        input#utrNumber.input-field.brn-field(name='brn', type='number' placeholder='Enter UTR Ex. 226622710142' oninput='validateField(event, "upi")' onchange='validateField(event, "upi")' value=`${invalidValue}`)
        .brn-red-info#upiTxIdValidationError
          |
      else 
        input#utrNumber.input-field.brn-field(name='brn', type='number' placeholder='Enter UTR Ex. 226622710142' oninput='validateField(event, "upi")' onchange='validateField(event, "upi")')
        .brn-red-info#upiTxIdValidationError
          |
      span#UTRError.errorMessage
      .tooltip1
        .info-icon ?
  if validationError && validationError.payment_type === "UPI"
    .brn-red-info#upiTxIdValidationError
      | #{validationError.message}
  .submit-bottom.upi-submit
    button#utrSubmitBtn.btn.paymentBtn.paymentBtnUpdate(type='submit', disabled='true', style='cursor: not-allowed;')
      | Verify Payment

mixin upi-card-details(payment,details,index)
  .p-row-pay
    .col-card
      .d-flx
        .pay-life
          .total-pay Total Payment
          .pay-rs #{payment.symbols[payment.currency] || payment.currency} #{payment.amount}
      .card-design
        img.payment-on-card(src='/payment/img/upi.svg')
        div
          .pay-info
            .input-copy
              .title-input Cardholder name
              div.value-input #{details.options.account_holder.toUpperCase()}
              span.copy-icon(onclick=`copyTextToClipboard('${details.options.account_holder.toUpperCase()}')`) &#x2398;
        .p-row
          .pay-info
            .input-copy
              .title-input UPI ID
              div.value-input #{details.options.code}
              span.copy-icon(onclick=`copyTextToClipboard('${details.options.code}')`) &#x2398;
        a.back(href='#')
          span &lsaquo;
          |  Change payment method
    .col-qr
      .qr-design
        .qr-img.bbox.qrimg(data-qr-data=details.options.upi_link)
          .qr-code
        //- #button-container
        //-   button#upiButton.mobile-only(onclick=`openUpiApp('${details.options.upi_link}')`) Open UPI App
    .col-upi(style="width: 100%")
      .rule-title
        | UPI
      .card-container
        .card.disabled(onclick=`openUpiApp('${details.options.upi_link}', 'tez')`)
          img.logo(src='/payment/img/gpay.png' alt='Google Pay')
          p.card-text Google Pay
        .card.disabled(onclick=`openUpiApp('${details.options.upi_link}', 'bhim')`)
          img.logo(src='/payment/img/BHIM.png' alt='BHIM')
          p.card-text BHIM
        .card(onclick=`openUpiApp('${details.options.upi_link}', 'phonepe')`)
          img.logo(src='/payment/img/phonepe.png' alt='PhonePe')
          p.card-text PhonePe
        .card(onclick=`openUpiApp('${details.options.upi_link}', 'paytmmp')`)
          img.logo(src='/payment/img/paytm.png' alt='Paytm')
          p.card-text Paytm
        .card(onclick=`openUpiApp('${details.options.upi_link}', 'upi')`)
          img.logo(src='/payment/img/upi.svg' alt='Other apps')
          p.card-text Other apps
    .col-info
      .rule-title
        | Instructions
      .info
        | Copy the VPA or scan the QR code
        br
        | and transfer fund to the specified details in one payment.
        br
        | The details are unique for each deposit.
        br
        | It is necessary to provide UTR Number of transfer.
      .group
        input#brnNumber(name='brn', type='text', required='' oninput='validateField(event, "upi")' onchange='validateField(event, "upi")')
        .brn-red-info#validationError
          |
        label UTR Number
        input#payer_vpa(name='payer_vpa', type='text', onchange='handleInput(event)')
        label#vpa-label Your VPA
        img.error-img(src='/payment/img/info.png')
        input(name='receipt', id='receipt', type='file' value="Upload")
  .center-align
    button.pay-button.out-line.cancel-btn CANCEL
    button.pay-button#utrSubmitBtn(style="cursor: not-allowed;background-color: #e0e0e0;", disabled=true) I PAID