block css
  link(href='/payment/css/v1.css' rel='stylesheet')
mixin payment-option-cards(payment,paymentOption,index,selected=false)
  a.payment-tab(href='#' data-value=`payment-details-${index}`,class=`tab-${index} ${paymentOption.options.selected ? 'active' : ''}`)
    .p-row.pay-method-row
      case paymentOption.type
        when 'IMPS'
          +imps-card-header(payment,paymentOption,index)
        when 'UPI'
          +upi-card-header(payment,paymentOption,index)
        when 'RTGS'
          +rtgs-card-header(payment,paymentOption,index)
        when 'NEFT'
          +neft-card-header(payment,paymentOption,index)
mixin payment-option-detail-cards(payment,paymentOption,index,selected=false)
  .tab-box(class=`payment-details-${index}` style='display:none' id=`#tab-${index}`)
    .stp.step-2
      form(method="POST",action="/payment/execute/submit")
        input(name="transfer_id", type="hidden",value=payment.id)
        input(name="payment_type", type="hidden",value=paymentOption.type)
        case paymentOption.type
          when 'IMPS'
            +imps-card-details(payment,paymentOption,index)
          when 'UPI'
            +upi-card-details(payment,paymentOption,index)
          when 'RTGS'
            +rtgs-card-details(payment,paymentOption,index)
          when 'NEFT'
            +neft-card-details(payment,paymentOption,index)