body {
  margin: 0;
  font-family: "promptregular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

a {
  cursor: pointer;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.only-mobile {
  display: block;
}
.transfer-funnd {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.logo-blk {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
  margin-top: 15px;
}
/*new css*/
.cust-tab {
  width: 160px;
  text-decoration: none;
  height: 60px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid rgba(186, 191, 199, 0.82);
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  flex-direction: column;
}
.payment-tab {
  width: 160px;
  text-decoration: none;
  height: 60px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid rgba(186, 191, 199, 0.82);
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  flex-direction: column;
}
.payment-mode-short {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #82868b;
}
.payment-mode {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #82868b;
}
.cust-tab.active {
  background: rgba(255, 163, 76, 0.2);
}
.cust-tab.active .payment-mode-short,
.cust-tab.active .payment-mode {
  color: #ffa34c;
}

.payment-tab.active {
  background: rgba(255, 163, 76, 0.2);
}
.payment-tab.active .payment-mode-short,
.payment-tab.active .payment-mode {
  color: #ffa34c;
}
table.payment-table {
  border-collapse: collapse;
  width: 100%;
}

.t-r-1 {
  display: flex;
  flex-wrap: wrap;
}
.t-row {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ebe9f1;
}
.t-cell-1 {
  text-align: left;
  padding: 10px 8px;
  font-weight: 600;
  font-size: 12px;
  color: #000;
  min-width: 115px;
}
.t-cell {
  text-align: left;
  padding: 10px 8px;
  font-size: 12px;
  color: #000;
}
.transaction-title {
  background-color: #f3f2f7;
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  color: #000;
}
.instruction-list-outer {
  margin-top: 10px;
  padding: 0px 0px 10px 0px;
}
.uploadFile {
  width: 100%;
  height: 40px;
  background-color: white;
  border: 1px solid #ddd;
  color: grey;
  font-size: 16px;
  line-height: 23px;
  overflow: hidden;
  padding: 7px 10px 7px 10px;
  position: relative;
  resize: none;
  overflow: hidden;
  display: inline-block;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
[type="file"] {
  cursor: pointer !important;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0px;
  text-align: right;
  top: 0px;
  z-index: 1;
  height: 40px;
}
.filename {
  font-size: 13px;
  color: #000;
}
.step-text {
  font-size: 13px;
  color: #000;
}
.btm-15-only {
  margin-bottom: 0px;
}
.return-to-home a {
  text-decoration: none;
  color: #0d93bd;
}
/* new css*/
.tab-menu {
  margin-top: 5px;
  width: 100%;
}
.outer-card {
  width: 100%;
  filter: none;
  flex-wrap: wrap;
}
.card-left {
  width: 100%;
  border-radius: 0;
  background-color: #fff;
  min-height: auto;
}
.card-right {
  width: 100%;
}
.instruction-title {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  padding: 0px 0px 0px 0px;
  margin-top: 15px;
}
.instruction-list {
  color: #000;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: flex-start;
  min-height: 25px;
}
.list-doth {
  background-color: #6e6b7b;
  margin-top: 5px;
  min-height: 7px;
  min-width: 7px;
  max-height: 7px;
  max-width: 7px;
  border-radius: 50%;
}
.merchant-logo-outer {
  display: none;
}
.input-style-outer .input-style {
  display: flex;
  margin-bottom: 0;
}
.input-style-outer .input-field {
  height: auto;
  border: none;
  width: 60%;
  background-color: transparent;
}
.input-style-outer .input-label {
  width: 40%;
}
.input-label {
  font-weight: 800;
  font-size: 12px;
  line-height: 20px;
  color: #000;
  margin-bottom: 4px;
}
.input-style-outer .input-field {
  color: #6e6b7b;
  font-weight: 500;
}
.input-field {
  /* background: #000; */
  font-weight: 800;
  border-radius: 5px;
  font-size: 13px;
  height: 38px;
  border: 1px solid #d8d6de;
  width: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px 0px 5px 10px;
  outline: none;
}
.input-style-outer {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.input-style-outer {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  padding: 15px;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.tab-main-box {
  padding: 0 10px 0px 10px;
}
.tab-main-box .payment-status {
  margin-top: 50px;
  text-align: center;
}
.tab-main-box .payment-status h3 {
  font-size: 16px;
  color: #44c055;
}
.tab-main-box .payment-status p {
  font-size: 12px;
  color: #147df2;
}
.tab-main-box .payment-status img {
  height: 100px;
  width: 100px;
}
.tab-main-box .payment-status button {
  background: #ffa34c;
  color: #fff;
  height: 37px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
.brn-red-info {
  font-size: 8px;
}
.outer-card {
  margin-top: 0;
}
.submit-bottom {
  width: 100%;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}
.red-border {
  border: 1px solid red;
  margin-left: -7px;
  padding-left: 7px;
  position: relative;
}
.red-border:before {
  content: "";
  display: block;
  width: 1px;
  background-color: red;
  height: 275px;
  position: absolute;
  left: -1px;
  top: 20px;
}
.return-to-home {
  text-align: right;
  height: 50px;
  border-radius: 0;
  min-width: 100%;
  max-width: 100%;
  padding: 5px 4%;
  border: 0;
  margin-left: auto;
}
.return-to-home a {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.paymentBtn {
  cursor: pointer;
  margin: 0 auto;
  min-width: 100%;
  max-width: 100%;
  border-radius: 6px;
}
.upi-info-title {
  margin-top: 0px;
}
.price-info {
  position: relative;
}
.chevron-logo {
  position: absolute;
  top: 7px;
  height: 25px;
  width: 25px;
  right: 0;
  z-index: 99;
  transition: all 0.2s;
  transform: rotate(0);
}
.is-active .chevron-logo {
  transform: rotate(180deg);
}
.merchant-info-outer {
  background: #147df2;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 12px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 62px;
  overflow: hidden;
  transition: all 0.2s;
}
.merchant-info-outer.is-active {
  height: auto;
}
.merchant-info-outer .merchant-info {
  padding: 10px 0px 10px 0px;
}
.mr-logo {
  display: flex;
  align-items: center;
}
.m-logo {
  height: 48px;
}
.merchant-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #28c76f;
  padding-left: 10px;
}
.arrow-design {
  border-left: 2px solid red;
  border-top: 2px solid red;
  width: 8px;
  height: 8px;
  transform: rotate(-136deg);
  margin-top: 0;
  margin-right: 0;
  float: right;
  position: absolute;
  left: -4.5px;
  top: 286px;
}
.tab-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 20px;
}
.list-text {
  padding-left: 10px;
}
.list-text a,
.list-text a:hover {
  text-decoration: underline;
}
.errorMessage {
  color: #d20000;
  font-size: 12px;
  padding-left: 5px;
}
.brn-label {
  display: flex;
  align-items: center;
}
.brn-red-info {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #f02f22;
  padding-left: 8px;
  margin-bottom: 4px;
}
.brn-label-dark {
  color: #000;
  font-weight: 600;
}
.brn-field {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border: 1px solid #000;
  outline: none;
  padding-right: 50px;
}
.brn-input-outer {
  position: relative;
}
.tooltip1 {
  position: absolute;
  top: 7px;
  right: 10px;
}
.tooltip1 span {
  border-radius: 2px;
  box-shadow: 0px 0px 8px 4px #666;
  opacity: 1;
  z-index: 10;
  display: none;
  padding: 4px 4px;
  margin-bottom: 30px;
  margin-left: -185px;
  width: 220px;
  line-height: 16px;
  bottom: 0;
  text-align: left;
}
.tooltip1:hover span {
  display: inline;
  position: absolute;
  border: 2px solid #fff;
  color: #eee;
  background: #333;
}
.info-icon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00cfe8;
  color: #fff;
  font-size: 18px;
}
/* radio css  start*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
  font-size: 13px;
  font-weight: 600;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 13px;
  height: 13px;
  background: #147df2;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* radio css end */
.radio-row {
  display: flex;
  margin-top: 0px;
  margin-bottom: 15px;
}
.paymentBtn {
  height: 50px;
  margin-top: 0;
  border-radius: 0;
  min-width: 100%;
  max-width: 100%;
  text-transform: uppercase;
  font-size: 17px;
  padding: 5px 4%;
  border: 0;
  margin-left: auto;
  margin-top: 15px;
  color: #fff;
  background-color: #ffa34b91;
}
.paymentBtn.disabled {
  background: #524b4b;
  color: #d8d8d8;
}
.paymentBtn.active {
  background-color: #147df2;
  color: #fff;
}
.spinner {
  background: url("../img/spiffygif_26x26.gif") no-repeat;
  width: 26px;
  height: 26px;
  vertical-align: middle;
  margin-right: 0px;
  float: left;
  margin-top: 2px;
}
.spinnerJD {
  background: url("../img/spinner200*200.gif") no-repeat;
  width: 200px;
  height: 200px;
  display: block;
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto;
}

.upi-info-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #5e5873;
  margin-top: 54px;
}
.upi-info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #6e6b7b;
  margin-top: 15px;
}
.qr-code {
  max-width: 200px;
  min-height: 200px;
  min-width: 180px;
  max-height: 180px;
  margin: 0 auto;
}

.qr-code img {
  margin: 0 auto;
}

.tab-outer {
  min-height: 100%;
  display: inline-block;
  width: 100%;
  position: relative;
}
.qr-img {
  text-align: center;
  margin-top: 15px;
}
/* .upi-submit {
  margin-top: 66px;
} */
.input-style-outer {
  width: 100%;
}

.radio-box {
  margin-right: 15px;
}
.radio-row label {
  font-weight: normal;
}
.qrinput {
  display: none;
  margin-bottom: 15px;
}
.only-mobile {
  display: none;
}
.upload-file-outer {
  margin-bottom: 15px;
}
.tab-box {
  display: none;
}
.in-50-percent .input-label.brn-label-dark {
  white-space: nowrap;
}
.pay-status {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.payment-done {
  height: 120px;
}
.payment-success .paymentBtn.paymentBtnUpdate {
  margin: 0 auto;
  margin-top: 20px;
}
.payment-status {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #5e5873;
  margin-top: 20px;
  text-align: center;
}
.status-page {
  padding: 15px 10px;
  width: 100%;
  margin: 0 auto;
}
.transaction-completed {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #5e5873;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.transaction-details {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #5e5873;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 991px) {
  .pay-status {
    margin-top: 50px;
  }
  .payment-success .paymentBtn {
    min-width: 290px;
    max-width: 290px;
  }
  .payment-done {
    height: 200px;
  }
  .payment-status {
    font-size: 14px;
  }
  .status-page {
    padding: 30px 20px;
    width: 80%;
    margin: 0 auto;
  }
  .transaction-completed {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .transaction-details {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .paymentBtn {
    height: 46px;
    margin-top: 0;
    border-radius: 0;
    min-width: 240px;
    max-width: 240px;
  }
  .outer-card {
    width: 970px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 18px;
    display: flex;
    margin: 0 auto;
    background: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 620px;
  }
  .card-right {
    width: 100%;
  }
  .merchant-logo {
    height: 70px;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 70px;
  }
  .merchant-logo-outer {
    width: 100%;
    text-align: center;
  }
  .merchant-info {
    padding: 10px 20px 10px 20px;
    border-bottom: 1px dashed #fff;
  }
  .m-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }
  .m-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
  }
  .instruction-title {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    margin-top: 15px;
  }
  .instruction-list-outer {
    margin-top: 10px;
  }
  .list-doth {
    min-height: 10px;
    min-width: 10px;
    max-height: 10px;
    max-width: 10px;
    border-radius: 50%;
    margin-top: 9px;
  }
  .instruction-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
  }
  .cust-tab {
    width: 170px;
  }
  .payment-tab {
    width: 170px;
  }

  .payment-logo {
    height: 28px;
  }
  .tab-main-box {
    padding: 0 20px 0px 20px;
  }
  .input-style {
    margin-bottom: 15px;
    width: 100%;
  }

  .upload-file label {
    background-color: #147df2;
    color: white;
    padding: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    min-width: 170px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    margin-bottom: 0px;
  }
  .upload-file {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .upload-file input {
    display: none;
  }
  #file-chosen {
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
  }
  .submit-bottom {
    display: flex;
  }
  .submit-bottom a {
    order: 2;
  }
  .tab-menu {
    margin-top: 20px;
  }
  .payment-table {
    display: flex;
  }
  .t-r-1 {
    width: 50%;
  }
  .desktop-tab {
    display: flex;
    flex-wrap: wrap;
  }
  .instruction-outer {
    width: 60%;
  }
  .input-style-outer {
    width: 40%;
    box-shadow: none;
    background-image: none;
    margin: 0;
  }
  .in-50-percent {
    width: 50%;
  }
  .paymentBtn {
    margin-right: 15px;
  }
  .qr-inst {
    width: 60%;
  }
  .qr-inst .instruction-outer {
    width: 100%;
  }
  .desktop-tab .qr-img.qrimg {
    width: 40%;
  }
  .desktop-tab .qr-img.qrimg .qr-code {
    max-width: 300px;
    min-height: 300px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1500px) {
}

#popup {
  position: absolute;
  top: -9999px;
  left: -9999px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  box-sizing: border-box;
  z-index: 10000;
}

#popup textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 8px;
  resize: vertical;
}

button.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button.btn-primary:hover {
  background-color: #0069d9;
}

button.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

button.btn-primary:active {
  background-color: #0056b3;
}

button#skipButton {
  background-color: #f8f9fa;
  color: #212529;
  border: 1px solid #ced4da;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button#skipButton:hover {
  background-color: #e2e6ea;
}

button#skipButton:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

button#skipButton:active {
  background-color: #d6d9dc;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

#upiButton {
  display: none;
}

@media only screen and (max-width: 767px) {
  .return-to-home {
    text-align: center;
  }

  #upiButton.mobile-only {
    display: block;
    /* Add other necessary styles */
  }

  #upiButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #upiButton:hover {
    background-color: #0069d9;
  }

  #popup {
    width: 80%;
  }
}

#note {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
