html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
}
.p-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 5px;
}
.options-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 5px;
}
.pay-method-row {
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.default-page {
  min-height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #f7f6f7;
}
.pay-method-card {
  height: 180px;
  width: 180px;
  min-height: 160px;
  min-width: 160px;
  border: 2px solid #e8e2e2;
  background-color: #f9f8f9;
  border-radius: 10px;
  padding: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.pay-method-card.active,
.pay-method-card:hover {
  border: 2px solid #777678;
}

.pay-rs {
  color: #60ab8b;
  font-size: 20px;
  font-weight: 600;
}
.pay-button {
  background-color: #4caf50;
  border: 2px solid #4caf50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
  min-width: 190px;
  margin: 20px auto 0px auto;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
}

.skip_payer_details {
  background-color: #fff;
  border: 2px solid #4caf50;
  color: #4caf50;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
  min-width: 190px;
  margin: 20px auto 0px auto;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
}

.cancel-btn {
  background-color: #4caf50;
  border: 2px solid #4caf50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
  min-width: 190px;
  margin: 20px auto 0px auto;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
}

.arrow {
  position: absolute;
  right: 12px;
  top: 25%;
}
.center-align {
  text-align: center;
}
.tras-id {
  text-align: right;
  font-weight: 600;
  color: #777678;
}
.tr-id {
  padding-left: 10px;
  color: #000;
}
.pay-type {
  text-align: center;
  text-decoration: none;
  color: #333;
}
.total-pay {
  font-size: 14px;
  font-weight: 600;
}
.page-title {
  font-size: 18px;
  font-weight: 600;
}
.payment-img {
  width: 90%;
  margin: 25px auto;
}
.pay-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.step {
  display: flex;
  margin-bottom: 5px;
  justify-content: end;
}
.step-number {
}
.step-desc {
  font-size: 12px;
  color: #d9d8d9;
}
.step-count.active .step-desc {
  color: #949394;
}
.step-count:last-child {
  margin-right: 0px;
}
.trans-id {
  text-align: right;
}
.step-number {
  background-color: #f2f2f4;
  color: #c5c6c8;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
}
.step-count.active .step-number {
  background-color: #b3e9d1;
  color: #5ab38f;
}

.step-count.active .step-number.danger {
  background-color: #fd9f8c;
  color: #f24423;
}

.step-count {
  margin-right: 20px;
  position: relative;
}
.step-count .step-number:before {
  content: "";
  display: block;
  width: 84%;
  height: 1px;
  background: #c5c6c8;
  left: 35px;
  top: 30%;
  position: absolute;
}
.step-count.active .step-number:before {
  background: #5ab38f;
}
.step-count.active .step-number.danger:before {
  background-color: #fd9f8c;
}
.step-count:last-child .step-number:before {
  display: none;
}
.p-row-pay {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}
.d-flx {
  display: flex;
  flex-wrap: wrap;
}
.col-50 {
  width: 50%;
}
.col-50:first-child {
  padding-right: 15px;
}
.col-50:last-child {
  padding-left: 15px;
  padding-right: 15px;
}

.col-30 {
  width: 30%;
}

.pay-life {
  padding-right: 15px;
}
.pay-life .total-pay {
  margin-bottom: 5px;
}
.black {
  color: #000;
}
.out-line {
  background-color: transparent;
  color: #4caf50;
}
.rule-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.info {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 5px;
}
/*input css*/
.group {
  position: relative;
  margin-top: 15px;
}
input {
  font-size: 14px;
  padding: 18px 40px 10px 15px;
  display: block;
  width: 100%;
  border: none;
  border: 1px solid #60ab8b;
  border-radius: 6px;
  height: 48px;
}
input:focus {
  outline: none;
}

textarea {
  font-size: 14px;
  padding: 18px 40px 10px 15px;
  display: block;
  width: 100%;
  border: none;
  border: 1px solid #60ab8b;
  border-radius: 6px;
}
textarea:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #000;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  font-weight: 500;
}
/* active state */
input:focus ~ label,
input:valid ~ label {
  top: 5px;
  font-size: 11px;
  color: #000;
}
.error-img {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 15px;
  right: 12px;
}
.upload {
  border: 1px dashed #60ab8b;
  border-radius: 6px;
  height: 48px;
}
.file-type {
  opacity: 0;
}
.card-design {
  background-image: url("../img/cardbggreen.png");
  width: 340px;
  height: 210px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 15px;
  padding: 10px;
  background-position: center;
}

.qr-design {
  /* width: 340px; */
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 55px;
  padding: 10px;
}

.card-status-design {
  width: 340px;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 15px;
  padding: 10px;
}
.pay-info {
  border: 1px solid #fff;
  height: fit-content;
  position: relative;
  margin-bottom: 15px;
  border-radius: 6px;
  padding: 5px 15px;
  color: #fff;
  font-size: 13px;
  width: 100%;
}
.payment-on-card {
  width: 150px;
  margin-top: -7px;
  margin-bottom: 5px;
}
.title-input {
  font-weight: 500;
  margin-bottom: 3px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}
.two-input .pay-info {
  width: 47%;
}
.back {
  text-decoration: none;
  color: #60ab8b;
  font-size: 13px;
  margin-top: 7px;
}
.back span {
  font-size: 20px;
  line-height: 20px;
}
.col-card {
  width: calc(100% - 450px);
}

.col-qr {
  width: calc(100% - 600px);
}
@media screen and (max-width: 992px) {
  .col-card {
    width: 98%;
  }
  .two-input .pay-info {
    width: 100%;
  }
  .col-qr {
    width: 98%;
  }
  .col-qr img {
    margin: 0 auto;
  }
  .payment-card {
    min-width: 98%;
    max-width: 98%;
    padding: 0.5rem;
  }
  .p-row {
    flex-wrap: wrap;
  }
  .options-row {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .step {
    margin-top: 15px;
  }
  .pay-method-row {
    justify-content: center;
  }
  .p-row-pay {
    flex-wrap: wrap;
  }
  .p-row-pay .col-50 {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .card-design {
    width: 100%;
    height: auto;
  }
  .qr-design {
    align-items: center;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .card-status-design {
    width: 100%;
    height: 200px;
  }
}

.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;

  .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4caf50;

    &::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }

    &::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before,
    &::after {
      content: "";
      height: 100px;
      position: absolute;
      background: #ffffff;
      transform: rotate(-45deg);
    }

    .icon-line {
      height: 5px;
      background-color: #4caf50;
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;

      &.line-tip {
        top: 46px;
        left: 14px;
        width: 25px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }

      &.line-long {
        top: 38px;
        right: 8px;
        width: 47px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }

    .icon-circle {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid rgba(76, 175, 80, 0.5);
    }

    .icon-fix {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: #ffffff;
    }
  }
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
.copy-icon {
  position: absolute;
  top: 12px;
  right: 0.5rem;
  transform: translateY(-50%);
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
}

.payment-card {
  border-radius: 10px;
  padding: 1.5rem;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.4);
  min-height: 40vh;
  min-width: 50%;
  max-width: 80%;
  background-color: #fff;
}

/* Your CSS styles for the toast container */
.toast-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
  z-index: 999;
}

.payment-tab a {
  text-decoration: none;
  color: #333;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

#popup {
  position: absolute;
  border-radius: 10px;
  top: -9999px;
  left: -9999px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.4);
  padding: 1.5rem;
  box-sizing: border-box;
  z-index: 10000;
}

#popup textarea {
  width: 100%;
  box-sizing: border-box;
  /* border: 1px solid #60ab8b; */
  padding: 8px;
  resize: vertical;
}

button.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button.btn-primary:hover {
  background-color: #0069d9;
}

button.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

button.btn-primary:active {
  background-color: #0056b3;
}

/* button#skipButton {
  background-color: #f8f9fa;
  color: #212529;
  border: 1px solid #ced4da;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button#skipButton:hover {
  background-color: #e2e6ea;
}

button#skipButton:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

button#skipButton:active {
  background-color: #d6d9dc;
} */

.popup-buttons {
  display: flex;
  justify-content: space-between;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.col-upi {
  margin-bottom: 1rem;
  display: none;
}

@media only screen and (max-width: 767px) {
  .col-upi {
    display: block;
  }
  #popup {
    width: 80%;
  }
  .options-row {
    justify-content: center;
  }
}
@media only screen and (max-width: 500px) {
  .payment-card {
    width: 98%;
    max-width: 98%;
  }
}
#note {
  display: block;
  padding: 0.5rem;
  font-family: inherit;
  margin-top: 0.5rem;
  border-radius: 10px;
}

#validationError {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #f02f22;
  padding-left: 8px;
  margin-bottom: 4px;
}

/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.failure-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;

  .check-icon-1 {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid rgb(242, 68, 35);

    &::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }

    &::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before,
    &::after {
      content: "";
      height: 100px;
      position: absolute;
      background: #ffffff;
      transform: rotate(-45deg);
    }

    .icon-line {
      height: 5px;
      background-color: rgb(242, 68, 35);
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;

      &.line-tip-1 {
        top: 38px;
        left: 13px;
        width: 55px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }

      &.line-long-1 {
        top: 38px;
        right: 13px;
        width: 55px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }

    .icon-circle-1 {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid rgb(242, 68, 35, 0.5);
    }

    .icon-fix-1 {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: #ffffff;
    }
  }
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 13px;
    top: 38px;
  }
  54% {
    width: 15px;
  }
  70% {
    width: 30px;
  }
  84% {
    width: 40px;
  }
  100% {
    width: 55px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 13px;
    top: 38px;
  }
  54% {
    width: 15px;
  }
  70% {
    width: 30px;
  }
  84% {
    width: 40px;
  }
  100% {
    width: 55px;
  }
}

textarea {
  border: 1px solid #60ab8b;
}

/* .value-input {
  overflow: hidden;
  white-space: nowrap;
} */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#upiButton {
  display: none;
}

#upiButton.mobile-only {
  display: block;
  /* Add other necessary styles */
}

#upiButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#upiButton:hover {
  background-color: #0069d9;
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  transition: transform 0.2s;
  width: 70px;
  height: 100px;
  margin-bottom: 0.5rem;
}

.card:hover {
  transform: scale(1.05);
}

.logo {
  width: 60%;
}

.card-text {
  font-size: 0.8rem;
}

.card.disabled {
  opacity: 0.5;
  pointer-events: none;
}

#vpaLabel {
  color: #000;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 52px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  font-weight: 500;
}

input#payer_vpa:focus ~ #vpaLabel {
  top: 46px;
  font-size: 11px;
  color: #000;
}

.payer_details_input {
  margin: 1rem;
  margin-left: initial;
}
#vpa-label {
  color: #000;
  font-size: 14px;
  font-weight: normal;
  position: none !important;
  pointer-events: none;
  left: 15px;
  top: 67px !important;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  font-weight: 500;
}
input#payer_vpa:focus ~ #vpa-label {
  top: 56px !important;
  font-size: 11px !important;
}

#receipt {
  border: none;
}
