//- Get more details on https://mrin9.github.io/RapiDoc/list.html
doctype html
// Important: must specify
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  title Banjo API Reference
  style.
    .label-operation-path{
      color:transparent;
    }

  // Important: rapi-doc uses utf8 charecters
  script(src='/js/rapidoc-min.js')
body
  style.
    rapi-doc::part(section-servers) { /* <<< targets the server div */
      //- background: #e83e51;
      //- color:#fff;
      //- margin:0 24px 0 24px;
      //- border-radius: 5px;
    }
    rapi-doc::part(label-operation-path) { 
      color:transparent;
    }

  rapi-doc(
    spec-url='/swagger.json' 
    schema-style='table'
    show-header="false"
    regular-font="Open Sans"
    render-style="focused"
    schema-description-expanded="true"
    default-schema-tab="modal"
    theme="light"
    nav-bg-color="#fafafa"
    nav-hover-text-color'="#9b0700"
    nav-hover-bg-color'="#ffebea"
    primary-color'="#F63C41"
    bg-color'="#ffffff"
    )
    h2(slot='nav-logo' style='width:auto; height:50px') RashiPay API
  