extend base-template
block content
    tr(style=''border-collapse: collapse;'')
      td.w320.mobile-spacing(style=''font-size:18px; font-weight: 500; color: #5E5873; padding: 0 40px 16px;'')
        | Dears Devs,
    tr(style=''border-collapse: collapse;'')
      td(style=''margin: 0; padding: 0 40px 30px;'')
        h3(style=''font-size: 18px;        font-weight: 500; color: #5E5873; margin:0;'')
          | Alert for BRN Extraction Failure.
    tr(style=''border-collapse: collapse;'')
      td(style=''padding: 0; margin: 0;'')
    tr(style=''border-collapse: collapse;'')
      td(style=''padding: 30px 40px; margin: 0;'')
        p(style="font-size: 16px;        font-family: ''Montserrat'', sans-serif; margin-bottom: 15px; color: #5E5873;")
          | The following Bank Account Number: #{acc_no} with name #{name} of bank domain: #{bank_host} has missing or improper regular expression. Unable to process any records.