extend base-template
block content
     tr
               td.mobile-spacing.mobile-spacing-right(style=''text-align: center;'')
                      p(style=''margin-bottom:21px; margin-top: 0; color: #202e55;     font-weight: bold; text-align: left;  letter-spacing: -0.8px; font-size: 22px;'') Restore Password.
     tr  
              td.support-title
                     p(style=''font-size: 18px; margin: 0; padding-bottom: 15px; font-weight: normal; text-align: left; line-height: 1.5; color: #202e55;'')
                      | Hello #{first_name} #{last_name}
     tr  
             td.support-title
                     p(style=''font-size: 18px; margin: 0; padding-bottom: 15px; font-weight: normal; text-align: left; line-height: 1.5; color: #202e55;'')
                      | Please click button below to recover the password.
     tr  
             td.support-title
                     p(style=''font-size: 18px; margin: 0; padding-bottom: 15px; font-weight: normal; text-align: left; line-height: 1.5; color: #202e55;'')
                      | Your confirmation code is: #{restoreCode}
     tr
              td(style=''text-align: center; margin-top: 0; margin-bottom: 0; padding-bottom: 20px'')
                   a(target='' _blank''  href=`${base_url}forgot-password-set-new-password?code=${restoreCode}&email=${to}` style=''font-size: 17px; font-weight: 700; color: #fff !important; width: 268px; height: 42px; border-radius: 21px; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); background-color: #202e55; border: none; outline: none; cursor: pointer;  display: inline-block; line-height: 42px; text-align: center; text-decoration: none;'') Recover password
     tr  
              td.support-title
                  p(style=''font-size: 18px; margin: 0; padding-bottom: 15px; font-weight: normal; text-align: left; line-height: 1.5; color: #202e55;'')
                      | Kindly ingnore the email if you didn''t try to restore the password. For any queries please contact 
                      a(target='' _blank''  href=`${base_url}` style=''font-size: 18px; line-height: 1.78; text-decoration: none; color: #e2001a;'') support
                      tr(style=''border-collapse: collapse;'')
                      td
                          p(style=''padding: 0; margin-top: 24px !important; margin-bottom: 24px !important; border-bottom: 2px solid #ebedf1; background: none; height: 1px; width: 100%; margin: 0px;'')
                  tr
                      td
                          p(style=''font-size: 15px; font-weight: 100; text-align: left; margin: 0; line-height: 1.78; color: #202e55; margin-top: 0; margin-bottom: 0;'')
                              | For security reasons, kindly do not forward this email to anyone. It could give access to your bank account. Please ignore the email If you did not try to register with Rapidogate. 
