extend base-template
block content
    tr(style=''border-collapse: collapse;'')
      td.w320.mobile-spacing(style=''font-size:18px; font-weight: 500; color: #5E5873; padding: 0 40px 16px;'')
        if invite_user_name === ""
          | Hi
        else
          | Hi 
        strong #{invite_user_name}
        |,
    tr(style=''border-collapse: collapse;'')
      td(style=''margin: 0; padding: 0 40px 30px;'')
        h3(style=''font-size: 18px;        font-weight: 500; color: #5E5873; margin:0;'')
          | You have been invited to Rapidogate!
    tr(style=''border-collapse: collapse;'')
      td(style=''padding: 0; margin: 0;'')
        img(style=''display: block; border: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic;'', width=''100%'', src=''http://polygon.getgps.online:8102/images/invite-user.jpg'', alt="invite user")
    tr(style=''border-collapse: collapse;'')
      td(style=''padding: 30px 40px; margin: 0;'')
        p(style="font-size: 16px;        font-family: ''Montserrat'', sans-serif; margin-bottom: 15px; color: #5E5873;")
          | John with enovate-it pvt ltd has invited you to use Rapidogate to collaborate with them. Use the button below to set up your account and get started:
        p(style="font-size: 16px; font-family: ''Montserrat'', sans-serif; margin-bottom: 15px; color: #5E5873;")
          | If you did not sign up for ResourceRoot, please ignore this email or contact us at 
          a(style=''color:#7367F0; text-decoration:none;'', href="support@banjo.com", target="_blank") support@banjo.com
        p(style="font-size: 16px; font-family: ''Montserrat'', sans-serif; margin-bottom: 0; color: #5E5873;")
          | Verification Link:
          a(style=''color:#7367F0; text-decoration:none;'', href=`${base_url}welcome-user?token=${token}&email=${email}`, target="_blank") #{base_url}welcome-user?token=#{token}&email=#{email}

    td(style=''padding: 0 40px 30px;'')
        a(href=`${base_url}welcome-user?token=${token}&email=${email}`, target="_blank", style=''font-size: 16px; font-weight: 500;        color: #ffffff !important; background: #7367F0;border-radius: 5px; border: none; outline: none; cursor: pointer;  display: inline-block; padding: 10px 35px; text-align: center;'') Sign up